#contextMenu
{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #242424;
  height: 100%;
  width: 30%;

}

#contextMenu > div
{
  padding: 2em;
}

#contextHead
{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: rgba(255, 255, 255, 0.1) 2px solid;
}

.contextNavButton
{
  width: 100%;
}